.App {
  display: grid;
  grid-template-columns: 12% 44% 44%;
  grid-auto-rows: minmax(800px, auto);
}
.menu {
  font-size: 30px;
  max-width: 30px;
  color: white;
  background-color: blue;
}
.content {
  font-size: 30px;
  color: chartreuse;
  background-color: brown;
}
.slider {
  font-size: 30px;
  color: crimson;
  background-color: grey;
}
